.top{
  height: 0.30rem;
  width: 100%;
  background: #48382b;
  position: fixed;
  top: 0;
  padding: 0.05rem 1%;
  text-align: center;
  z-index: 10;
}
input{
  background-color: #403228;
  border-radius: 0.06rem;
  height: 0.25rem;
  margin-top: 0.025rem;
  width: 65%;
  box-shadow: 0px 2px 5px rgba(33, 32, 31, 0.5) inset;
  border: 0px solid rgba(4, 3, 6, 0.45);
  border-bottom: 1px solid #7e6e57;
  margin-left: 1%;
  background-size: 2rem;
  background-image: url(../xhimg/LOGO.png);
  background-repeat: no-repeat;
  background-position: -1.65rem -0.11rem;
  
}
li{
	background: rgba(33, 32, 31, 0.5);
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.top .r{
  width: 0.45rem;
  width: 16%;
  height: 0.3rem;
  background-size: 2rem;
  background-image: url(../xhimg/LOGO.png);
  background-repeat: no-repeat;
  background-position: -0.3rem -0.1rem;
}
.top .l{
  width: 0.48rem;
  width: 16%;
  height: 0.3rem;
  line-height:0.3rem;
  font-size: 0.14rem;
  color: white;
  background-size: 2rem;
  background-image: url(../xhimg/LOGO.png);
  background-repeat: no-repeat;
  background-position: -0.82rem -0.08rem;
  padding: 0rem;
  text-align: left;
  padding-left: 1%;
}
.btn1,.btn2{
	width: 20%;
	margin-left: 0;
	background:#413329;
	color: #8f7f64;
	font-size: 0.12rem;
}
.btn1{
	border-top-left-radius:0.06rem ;
	border-bottom-left-radius:0.06rem ;
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
}
.btn2{
	border-top-left-radius:0 ;
	border-bottom-left-radius:0 ;
	border-bottom-right-radius: 0.06rem;
	border-top-right-radius: 0.06rem;
}
.select2{
	background: #4b3b2f !important;
	box-shadow: 0px 2px 5px #675140 inset ;
	border-bottom: 1px solid rgba(33, 32, 31, 0.5);
}
#maun2{
	width: 10%;
	background-size: 0.4rem;
	background-image: url(../xhimg/logo1.png);
	background-repeat: no-repeat;
	background-position: -0.08rem -0.05rem;
}
#maun{
	width: 13%;
	background-size: 0.4rem;
	background-image: url(../xhimg/logo1.png);
	background-repeat: no-repeat;
	background-position: -0.08rem -0.4rem;
}
#gwc{
	width: 0.5rem;
	height: 0.5rem;
	border-radius:50%;
	background-color: rgba(0,0,0,0.5);
	position: fixed;
	top:80%;
	left:80%;
	background-size: 2rem;
  background-image: url(../xhimg/LOGO.png);
  background-repeat: no-repeat;
  background-position: 0.06rem 0.02rem;
  z-index: 10;
}
